*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f172a;
    color:white;
    font-family:Arial, sans-serif;
}

.hero{
    min-height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    padding:20px;
}

.hero h1{
    font-size:60px;
    margin-bottom:15px;
}

.hero span{
    color:#3b82f6;
}

.hero h2{
    color:#94a3b8;
    margin-bottom:20px;
}

.hero p{
    max-width:600px;
    line-height:1.8;
    margin-bottom:30px;
}

.buttons{
    display:flex;
    gap:15px;
}

.btn{
    text-decoration:none;

    background:#3b82f6;
    color:white;

    padding:12px 24px;

    border-radius:8px;

    transition:0.3s;
}

.btn:hover{
    transform:translateY(-3px);
}
